<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>PseuCamp: Envio de Cotação</title>
        <link rel="Stylesheet" type="text/css" href="css/estilo.css" />
    </head>
    <body>
        <div id="pag">
            <a href="index.html"><div id="logo"><br /><br /><br />Logo</div></a>

    <div id="banner" style="text-align:center;" >
        <div id="titulo">
            <br />
            <h1>TG Compras</h1>
        </div>
    </div>

    <div id="bloco_esq">
    </div>

    <div id="conteudo">
        <iframe name="frame_conteudo" width="824" height="400" frameborder="0" src="cotacao.html" ></iframe>
    </div>

    <div id="bloco_dir">
    </div>

    <div id="rodape">
        <hr />
        <p>Template de Sistema - <b>TG Compras</b></p>
        <hr />
    </div>
</div>
</body>
</html>