<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Titulo: TG Compras</title>
        <link rel="Stylesheet" type="text/css" href="css/estilo.css" />
    </head>
    <body>
        <!--
            Adcionar pag com descrição da PseuCamp ou coisa do gênero como "index"
            Generalizar retorno do logo p/ index
        -->
    <div id="pag">
        
        <a href="index.html"><div id="logo"><br /><br />Logo</div></a>

        <div id="banner" style="text-align:center;" >
            <div id="titulo">
                <br />
                <h1>Titulo: TG Compras</h1>
            </div>
        </div>

        <div id="bloco_esq">
            bloco esquerdo
        </div>

        <div id="conteudo">
            <iframe name="frame_conteudo" width="824" height="400" frameborder="0" src="login.html" ></iframe>
        </div>

        <div id="bloco_dir">
            bloco direito
        </div>

        <div id="rodape">
            <hr />
            <p>Template de Sistema -  Matheus Jorge - <b>TG Compras</b></p>
            <hr />
        </div>
    </div>
    </body>
</html>